name: First Workflow

on:
  push:
    branches: 
      - main
jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print a welcome message
        run: echo "Hello GH Actions" 

      - name: Checkout Repository
        uses: actions/checkout@v6.0.2

      - name: List all repository files
        run: ls -la
